.Menu {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--shadow);
    z-index: 10000;

    div {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;

        .logo {
            color: var(--primary-color);
            font-size: 1.625rem;
            font-weight: 700;
            text-decoration: none;

            span {
                color: var(--secondary-color);
            }
        }

        nav {
            display: flex;
            gap: 2.8rem;

            a {
                color: #F9F9F9;
                font-size: 1.125rem;
                font-weight: 400;
                text-decoration: none;
                transition: all .3s ease-in-out;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }

    @media (max-width: 768px) {
        div {
            nav {
                gap: 2rem;
            }
        }
    }

    @media screen and (max-width: 460px) {
        div {
            nav {
                display: none;
            }
        }
    }
}