#Skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    flex-direction: column;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-top: 2rem;
        gap: 2rem;

        .container-geral {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .box {
                background-color: var(--shadow);
                width: 9.375rem;
                height: 9.375rem;
                border: 1px solid #333;
                transition: all .3s linear;
                align-items: center;
                justify-content: center;
                display: flex;
                cursor: pointer;

                &:hover {
                    span {
                        color: var(--primary-color);
                        font-size: 5.3rem;
                        display: flex;
                    }
                }

                span {
                    color: var(--primary-color);
                    font-size: 5rem;
                    transition: all .2s ease-in;
                    display: flex;
                }
            }
        }

        .titulo {
            color: var(--secondary-color);
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .Footer {
        color: rgb(3, 2, 2);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--shadow);
        height: 3rem;

        div {
            display: flex;
            width: 85%;
            align-items: center;
            justify-content: center;
            align-items: center;

            span {
                color: var(--secondary-color);
                font-size: 1rem;
                font-weight: 400;

                span {
                    color: var(--primary-color);
                }
            }
        }
    }


    @media (max-width: 768px) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 90vh;
        flex-direction: column;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin-top: 4.5rem;
            gap: 1rem;

            .container-geral {
                flex-wrap: wrap;
                row-gap: 2rem;

                .box {
                    background-color: var(--shadow);
                    width: 10rem;
                    height: 10rem;

                    span {
                        font-size: 4.5rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 460px) {
        height: 100vh;

        .container {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            gap: 1rem;
            background-color: plum;

            .container-geral {
                flex-wrap: wrap;
                row-gap: 2rem;
                background-color: rgb(161, 140, 101);

                .box {
                    background-color: var(--shadow);
                    width: 8.5rem;
                    height: 8.5rem;

                    span {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}